html,
body {
    margin: 0;
    background-color: cornflowerblue;
}


/*Comienzo del Nav*/

.nav-barra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: mediumpurple;
}

.box-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 80%;
}

.nav-derecha {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-barra ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 80%;
    list-style: none;
    border: 1px solid black;
}

box-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: mediumvioletred;
    width: 130px;
    height: 50px;
}


/*Fin del Nav*/


/*Comienzo de header - sobre mi - */

.saludo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: palegoldenrod;
    padding-top: 80px;
}

.box-saludo {
    border: 1px solid black;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    width: 90%;
    height: 90%;
}

.info {
    border: 1px solid black;
    width: 50%;
    height: 80%;
}

.img {
    border: 1px solid black;
    width: 50%;
    height: 80%;
    overflow: hidden;
}

img {
    width: 100%;
}